*{
    padding:0;
    margin:0;
}

button{
    height:50px;
    width:100px;
    padding:10px;
    margin:20px 20px;
}

input{
    height:25px;
    width:100px;
    padding:10px;
    margin:20px 20px;
}