
html,body{
    height:100%;
    width:100%;
}
button{
    padding:20px;
    margin:20px;
    border-radius: 10px;
}
h1{
    background-color: hwb(0 36% 63%);
    width:fit-content;
    font-size: 50px;
    padding:40px 60px;
    margin:30px 120px;
    border-radius: 10px;
}