*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}

.Nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Nav2{
    display: flex;
    gap:20px;
    font-family:Arial, Helvetica, sans-serif;
}