*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: black;
    color: aliceblue;
}
h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    white-space: nowrap;
    text-decoration: underline;
} 
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 30px;
}
.nav div{
    display: flex;
    align-items: center;
    gap:30px;
}